*{
  margin: 0;
}

body{
  background-color: #eee;
}

.header nav{
  height: 80px;
  background-color: black ;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 25px;
  padding-left: 25px;
}
.header ul{
  flex-basis: 70%; /* esto es lo mismo que width: ; */
  display: flex ;
  justify-content: flex-end;
  list-style: none;
}
.header nav a{
  color: white;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}

.header nav a:hover{
  color: lightblue
}
.content{
  margin: 25px auto;
  width: 70%;
  min-height: 350px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid gray;
  padding: 25px;
}
.login input{
  display: block;
  margin: 15px auto;
  padding: 15px;
}